body{
    padding: 100px;
}
.submit-area{
    margin-top: 50px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 13px 10px 10px gray;
}
#transaction-area{
    display: none ;
}
.status{
    margin: 0 80px;
    color: white;
    padding: 30px;
    border-radius: 10px;
}
.deposit{
    background-color: slateblue;
}
.withdraw{
    background-color: lightseagreen;
}
.balance{
    background-color: orange;
}